body{
    background-color: #eef0eb;
}
.page {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    background-color: #373D20;
    height: 80px;
}
.header {
    background-color: #6C809A;
}
.about{
    height: 50px;
}
.content {
    background-color: #EEF0EB;
    height: 100px;
}

.projects {
    background-color: #886270;
}

.exp {
    background-color: #6C809A;
}

.contact {
    background-color: #CB904D;
}

/* Navbar styles */
.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.nav-bar li a {
    display: block;
    color: #eef0eb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #373D20;
}
.nav-bar li a:hover {
    background-color: #eef0eb;
    color:#373D20;
}
.nav-bar li {
    float: left;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
/* Headings */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #373D20;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 8px;
    color: #373D20;
}
h2 a{
    color: #373D20;
    text-decoration: none;
}
h2 a:hover{
    text-decoration: none;
    color:#EEF0EB;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #EEF0EB;
    text-decoration: none;
}

/* Experience page */
.experience-list{
    list-style-type: none;
}
.experience-text{
    padding-left: 15px;
}
/* Contact page */
.contact-head a{
    padding-left: 30px;
    color: steelblue;
}
.contact-head a:hover{
    color: #EEF0EB;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .projects,
    .exp,
    .contact {
      width: 50%;
    }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .projects,
    .exp,
    .contact {
      width: 33.3%;
    }
    .header {
      height: 400px;
    }
  }